@tailwind base;
@tailwind components;

@font-face {
    font-family: 'NanumBarunGothic';
    font-weight: 200;
    src: url("../../public/fonts/NanumBarunGothicUltraLight.ttf") format("truetype");
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-weight: 300;
    src: url("../../public/fonts/NanumBarunGothicLight.ttf") format("truetype");
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-weight: 400;
    src: url("../../public/fonts/NanumBarunGothic.ttf") format("truetype");
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-weight: 600;
    src: url("../../public/fonts/NanumBarunGothicBold.ttf") format("truetype");
}

@tailwind utilities;
